.Tudo{
    width: 100%;
    height: 100%;
        .Icones{
            width:100%;
            height: 100%;
            span{
                width: 50%;
                height: 25%;
            img{
                border-radius: 100%;
                width:25%;
            }
        }
    }

        }
    