@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.Tudo{
    background-image: url('../imagem/CadastroFundo.jpg');
    background-size:cover; 
    width: 100%;
    height: 100%;
    margin: 0%;
    .Negrito{
        font-family: 'Bowlby One SC', cursive;
        font-size: 14pt;
        font-weight:200;
        
    }
    h1{
        font-family: 'Bowlby One SC', cursive;
        font-size: 25pt;
        font-weight: 200;
    }
    p{
        margin-left: 40px;
        font-family: 'Varela Round', sans-serif;
        font-size: 13pt;
    }
    h2{
        font-family: 'Bowlby One SC', cursive;
        font-size: 20pt;
        font-weight: 200;
    }
        .Icones{
            width:100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            span{
                width: 50%;
                height: 50%;
   
            img{
                border-radius: 100%;
                width: 50px;
                height: 50px;
            }
        }
    }

        }
    