.texto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(128, 128, 128, 0.445);
    border-radius: 30px;
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
}


