.Imagem{
    display: none;
}

div{
    display: flex;
    flex-direction: column;

    .imagem2{
        width: 150px;
        height: 30px;
        display: flex;
        align-items: center;
        margin-left: 85px;
        margin-top: 10px;
        
    }

    p{
        width: 300px;
    }


}
