.NavBar{

    nav {
      width: 100%;
      height: 70px;
      background-color:#01A458;
      display: flex;
      align-items: center;
      justify-content: center;
      .ancora{
        display: none;
        a{
            margin-top:25px;
          text-decoration: none;
          color: white;
        }
      }
      #menu-hamburguer {
        width: 50px;
        height: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        span {
          width: 100%;
          height: 5px;
          background-color: white;
          border-radius: 20px;
          transition: 0.2s;
        }
        .sumirIgualTiro{
          transform: translateX(-70vw);
        }
      
        .virarX1{
          transform: rotateZ(-45deg);
          transform-origin: right center;
          position: relative;
          bottom: 15px;
        }
        .virarX2{
          transform: rotateZ(45deg);
          transform-origin: right center;
          position: relative;
        }
      }
    }
    .menu {
      width: 100%;
      height: 400px;
      background-color: #01A458;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transform: translatex(-100%);
      transition: 0.4s;
      position: absolute;
      top:70px;
      left: 0;
    
      
      a {
        margin-left: 30px;
        text-decoration: none;
        color: white;

      }
    }
    .ativo {
      transform: translateX(0);
    }
  }
      @media (min-width:768px){
        .NavBar{
          nav{
            .ancora{
              display: flex;
              width: 100%;
              justify-content: space-around;
            } 
            #menu-hamburguer{
              display: none;
            }
            
          }
            .menu{
                display: none;
            }
        }
      }