.cadastro{
    background-image: url('../imagem/CadastroFundo\ .jpg');
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form{
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
}