button{
    background-color: #01a458;
    width: 200px;
    height: 40px;
    border: none;
    border: 1px solid #01a458;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    columns: #16381e;;
    font-weight: 900;
    &:hover{
        background-color:#01a45891;
        color: #000000;
    }
}