.Cadastro {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    form {
      width: 100%;
      justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column; 
        
      }
      
    }